@using Microsoft.AspNetCore.Mvc.Localization
@model RSNAP.Models.ApprovalsModel

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Approvals";
}
<script>
    var loadingError = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.loadingError));

</script>
<div class="grid-containers">
    <div class="grid-row">
        <div class="grid-col-12">
            <script src="~/js/Approvals.js" asp-append-version="true"></script>
            <script src="~/js/Common.js" asp-append-version="true"></script>
            <div>
                <h3>Search Criteria</h3>
            </div>
            <div class="grid-row header">
                <div class="col-md-4 padding-bottom-1">
                    <label>Scheduled Start Date</label>
                    <span class="k-invalid-msg" data-for="ScheduledStartDate"></span><br />
                    @(Html.Kendo().DatePicker()
                                                     .Name("ScheduledStartDate")

                                                     .HtmlAttributes(new { @placeholder = "Scheduled Start Date" })
                    )
                </div>
                <div class="col-md-4 padding-bottom-1">
                    <label>Scheduled End Date</label>
                    <span class="k-invalid-msg" data-for="ScheduledEndDate"></span><br />
                    @(Html.Kendo().DatePicker()
                                                     .Name("ScheduledEndDate")

                                                     .HtmlAttributes(new { @placeholder = "Scheduled End Date" })
                    )
                </div>
                <div class="col-md-4 padding-bottom-1">
                    <label>Order Number</label>
                    <span class="k-invalid-msg" data-for="OrderNumber"></span><br />
                    @Html.TextBoxFor(x => x.OrderNumber)
                </div>
            </div>
            <div class="grid-row">
                <div class="col-md-4 padding-bottom-1">
                    <label>IDV/Contract Number</label>
                    <span class="k-invalid-msg" data-for="IDVContractNumber"></span><br />
                    @Html.TextBoxFor(x => x.IDVContractNumber)
                </div>
                <div class="col-md-4 padding-bottom-1">
                    <label>PDN</label>
                    <span class="k-invalid-msg" data-for="PDN"></span><br />
                    @Html.TextBoxFor(x => x.PDN)
                </div>
                <div class="col-md-4 padding-bottom-1">
                    <label>Vendor Name</label>
                    <span class="k-invalid-msg" data-for="VendorName"></span><br />
                    @Html.TextBoxFor(x => x.VendorName)
                </div>
            </div>
            <div class="grid-row">
                <div class="col-md-4 padding-bottom-1">
                    <label>FO Approval Status</label>
                    <span class="k-invalid-msg" data-for="FOApprovalStatus"></span><br />
                    @(Html.Kendo().DropDownList()
                                                                  .Name("FOApprovalStatusAvailable")
                                                                  .AutoBind(true)
                                                                  .HtmlAttributes(new { })
                                                                  .DataValueField("Value")
                                                                  .DataTextField("Text")
                                                                  .BindTo(Model.FOApprovalStatusAvailable)
                    )
                </div>
                <div class="col-md-4 padding-bottom-1">
                    <label>ACO Approval Status</label>
                    <span class="k-invalid-msg" data-for="ACOApprovalStatus"></span><br />
                    @(Html.Kendo().DropDownList()
                                                                       .Name("ACOApprovalStatusAvailable")
                                                                       .AutoBind(true)
                                                                       .DataValueField("text")
                                                                       .HtmlAttributes(new { })
                                                                       .DataValueField("Value")
                                                                       .DataTextField("Text")
                                                                       .BindTo(Model.ACOApprovalStatusAvailable)
                    )
                </div>
                <div class="col-md-4 padding-bottom-1">
                    <label>Notification Status</label>
                    <span class="k-invalid-msg" data-for="NotificationStatus"></span><br />
                    @(Html.Kendo().DropDownList()
                                                                        .Name("NotificationStatusAvailable")
                                                                        .AutoBind(true)
                                                                        .DataValueField("text")
                                                                        .HtmlAttributes(new { })
                                                                        .DataValueField("Value")
                                                                        .DataTextField("Text")
                                                                        .BindTo(Model.NotificationStatusAvailable)
                    )
                </div>
            </div>
            <div class="grid-row">
                <div class="col-md-12 padding-bottom-2">
                    <div class="padding-bottom-1">
                        <button type="submit" id="Search" class="btn" accesskey="s"><u>S</u>earch</button>
                        <button type="submit" id="Clear" class="btn" accesskey="c"><u>C</u>lear</button>
                    </div>
                </div>
            </div>
            <div class="grid-row">
                <div class="col-md-12 padding-bottom-2">
                    <h3 class="redWarningCopy text-center">
                        Approval by the Administrative Contracting Officer authorizes the Budget Analyst to release the incremental fund amount(s) to the Contractor for the corresponding contracts
                    </h3>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="grid-containers" id="approvalsContainer">

    <div id="approvalsGridWrapper" class="grid-row">
        <div class="grid-col-12">
            <div class="padding-bottom2 rsnapGrid">
                @(Html.Kendo().Grid<ApprovalsModel>()
.Name("ApprovalsGrid")
.Columns(columns =>
{
    columns.Select().Width(50);
    columns.Bound(c => c.ProID).Hidden();
    columns.Bound(c => c.ProActID).Hidden();
    columns.Bound(c => c.ScheduleDate).Title("Schedule Date");
    columns.Bound(c => c.IDVContractNumber).Title("IDV/Contract Number");
    columns.Bound(c => c.OrderNumber).Title("Order Number");
    columns.Bound(c => c.PDN).Title("PDN");
    columns.Bound(c => c.Pop).Title("POP");
    columns.Bound(c => c.Amount).Title("Amount");
    columns.Bound(c => c.VendorName).Title("Vendor Name");
    columns.Bound(c => c.VendorEmail).Title("Vendor Email");
    columns.Bound(c => c.COEmail).Title("CO Email");
    columns.Bound(c => c.Comments).Title("Comments");
    columns.Bound(c => c.NewComments).Title("New Comments").ClientTemplate("<textarea></textarea>");
    columns.Bound(c => c.FundingOfficer).Title("Funding Officer");
    columns.Bound(c => c.FOApprovalStatus).Title("FO Approval Status");
    columns.Bound(c => c.FONote).Title("FO Notes").Width(200);
    columns.Bound(c => c.ContractingOfficer).Title("Administrator Contracting Officer");
    columns.Bound(c => c.ACOApprovalStatus).Title("ACO Approval Status");
    columns.Bound(c => c.CONote).Title("ACO Notes").Width(210);
    columns.Bound(c => c.NotificationStatus).Title("Notification Status");
})
.ToolBar(toolbar =>
{
    if (ViewData["Role"].ToString()=="RO")
    {
        toolbar.ClientTemplate("<div class=\"toolBar\"><button class=\"k-button k-primary\" onclick=\"SaveComments()\">Save Comments</button></div>");
    }
    else
    {
        toolbar.ClientTemplate("<div class=\"toolBar\"><button class=\"k-button k-primary\" onclick=\"Approve()\" >Approve</button><button onclick=\"Unapprove()\" class=\"k-button k-primary\">Unapprove</button><button class=\"k-button k-primary\" onclick=\"UnderReview()\">Under Review</button><button class=\"k-button k-primary\"  onclick=\"ExportExcel()\" >Save To Excel</button></div>");
    }

})
.Events(events => events.DataBound("onGridDataBound").Change("onChange"))
//.Scrollable(sc => sc.Height(540))
.HtmlAttributes(new { @class = "rsnap-grid" })
.Resizable(re => re.Columns(true))
.Navigatable(true)
.Sortable()
.AutoBind(false)
.Pageable(pager => pager.PageSizes(new[] { 10, 20, 50, 100 })
.Refresh(true)
.ButtonCount(5))
.DataSource(dataSource => dataSource
.Ajax()
//.Aggregates(aggregates =>
//{
//    aggregates.Add(p => p.TrialBalanceAmount).Sum();
//})
//.Group(groups => groups.Add(p => p.Fund))
.Batch(true)
.ServerOperation(true)
.Events(events => events.Error("ajax_error_handler"))
.Model(model => model.Id(a => a.Id))
.Read(read => read.Action("Approvals_Read", "Approvals").Data("getGridParams"))
.PageSize(20)
)
                )
                <div id="overlay"></div>
            </div>
        </div>
    </div>

</div>
